* {
    box-sizing: border-box;
}
.headeris {
    background-color: rgb(196, 194, 92);
    color:rgb(250, 253, 255);
    height: 80px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid beige;

}

.meniu-juosta {
    display: flex;
    height: 60px;
    background-color: rgb(129, 122, 122);
    align-items: center;
    gap: 10px;
    padding-left: 5px;
    padding-right: 5px;
}


.meniu-juostos-mygtukas {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    height: 40px;
    background-color: rgb(247, 247, 245);
    flex-grow: 1;
}
.mygtuko-nuoroda {
    text-decoration: none;
    color: rgb(146, 173, 23);
    display: block;
    width: 100%;
    line-height: 40px;
    text-align: center;
}
.turinio-wrapperis {
    display: flex;
    background-color: rgb(124, 124, 123);
    justify-content: space-between;
    border-bottom: 10px solid black;
    
}
.straipsnio-containeris1 {
    display: flex;
    flex-direction: column;
    width: 33%;
    background-color: beige;
    text-align: justify;
    column-gap: 20px;
    justify-content: space-between;
    
     
}
    
.mygtuko-nuoroda1{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(16, 17, 11);
    display: block;
    width: 20%;
    text-align: center;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    
}
.headeris2{
    display: flex;
    background-color: rgb(196, 194, 92);
    color:rgb(250, 253, 255);
    height: 80px;
    justify-content: center;
    border-bottom: 2px solid beige;
    
}
.straipsnio-pastraipa {
    display: flex;
    text-align: justify;
    align-items: center;
}

